#PYTHON 2 OOP

In [ ]:
#xndir1
class kar:
  subject="oop"
  def __init__(self,name, age):
    self.name =  name
    self.age = age

  def show(self):
    print(self.name, self.age)

Kar = kar("Kar", "23")
Kar.show()

Tam = kar("Tam", "24")
Tam.show()

Kar 23
Tam 24

In [ ]:
#xndir2
class Person:
  def __init__(self, name, age):

    self.name = name
    self.age = age

obj1 = Person("Kar", 23)
print(obj1.name)
obj2=Person("Tam", 24)
print(obj2.name)

Kar
Tam

In [ ]:
#xndir2-mas2
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def show(self):
      print(self.name, self.age)
obj1 = Person("Kar", 23)
obj1.show()
obj2=Person("Tam", 24)
obj2.show()

Kar 23
Tam 24

In [ ]:
#xndir2-mas3
class Person:
  count = 0
  def __init__(self, name, age):
    self.name = name
    self.age = age
    Person.count += 1
  def show(self):
      print(self.name, self.age)
  def __str__(self):
    return f"person name is {self.name}, ages {self.age}"
obj1 = Person("Kar", 23)
obj2=Person("Tam", 24)
print(obj1)
print(obj2)

person name is Kar, ages 23
person name is Tam, ages 24

In [ ]:
#xndir3
class Student:
  def __init__(self, name, age, cours):
    self.name = name
    self.age = age
    self.cours = cours
  def show(self):
    print(self.name, end ="")
    print(self.age, end ="")
    print(self.cours)
  def __str__(self):
    return f"My name is {self.name}, ages {self.age}"

obj1 = Person("Kar", 23)
obj2=Person("Tam", 24)
obj3=Person("Angel", 18)
obj4=Person("Harut", 16)
objs = [obj1, obj2, obj3, obj4]

for i in objs:
  i.show()
print(obj1)
for i in objs:
  print(i)

Kar 23
Tam 24
Angel 18
Harut 16
person name is Kar, ages 23
person name is Kar, ages 23
person name is Tam, ages 24
person name is Angel, ages 18
person name is Harut, ages 16